<main>
    <div class="container">
        <section class="commom">
            <h2>Home</h2>
            <h2>Perfil</h2>
            <h2>Search</h2>
            <h2>Settings</h2>
            <h2>New Post</h2>
        </section>
        <section class="feed">    
            <div class="form">
                <div class="imgPost">
                    <img class="imgPef" src="" alt="" width="50px" height="50px">
                </div>
                <div class="textM">
                    <form action="" (submit)="onSubmit()">
                        <textarea wrap="hard" autocomplete="off" rows="1" placeholder="Oque está acontecendo?" name="menssage" [(ngModel)]="user.menssage"></textarea>
                        <button type="submit">Post</button>
                    </form>
                </div>
            </div>
            
            <ul>
                @for(post of data; track post.id)
                {
                    <li>
                        <h2>{{post.token}}</h2>
                        <h2>{{post.userName}} {{formatDate(post.date)}}</h2>
                        
                        <p>{{post.text}}</p>
                    </li>
                }
            </ul>
        </section>
        <section class="friendList">
            <div class="friends">
                <h2>Home</h2>
                <h2>Home</h2>
                <h2>Home</h2>
                <h2>Home</h2>
            </div>
        </section>
    </div>
</main>