*{
    margin: 0;
    padding: 0;
    color: whitesmoke;
}

.background{
    display: block;
    position: absolute;

    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;

    background: linear-gradient(0deg, rgba(24,24,24,0.8), #403F7E);
    background-size: cover;
    filter: blur(10px);
    -webkit-filter: blur(10px);
}

.commom{
    height: auto;
    border-right: 1px solid #9494AA;    
}

.conteinerFixedImg{
    position: fixed;
    left: 8%;
}

.imgPerfilContainer{
    padding-top: 42px;
    text-align: center;
}

.imgPerfilPrimary{
    width: 300px;
    height: 300px;
    border-radius: 100%;
    border: solid 2px #9494AA;
    box-shadow: 0 0 5px #9494AA;
}

.settings{
    text-align: center;
    margin-top: 96px;

    h2{
        font-size: 40px;
        margin-top: 30px;
    }
}

.imgPerfilAlt{
    display: flex;
    justify-content: center;
    align-items: center;
}

.picture{
    height: 100%;
    cursor: pointer;
}

.picture_input{
    display: none;   
}

.container{
    display: flex;
}

.container > section{
    flex: 1;
}

.feed{
    height: 100%;
    padding: 18px 8px 0px 8px;
    font-family: sans-serif;

    .form{
        background-color: #494978;
        margin-bottom: 30px;
        display: grid;
        grid-template-areas: 
        "a b b b"
        "a b b b";
    
        grid-template-columns: 80px 1fr;
        //grid-template-rows: auto;

        .imgPost{
            grid-area: a;
            padding-top: 12px;

            img{
                margin: auto;
                display: block;
                border-radius: 100%;
                background-color: white;
            }
        }

        .textM{
            width: 100%;
        }

        form{
            padding: 6px;
            padding-left: 0;
            height: auto;
            width: 100%;
            grid-area: b;

            display: flex;
            flex-direction: column;
            

            textarea{
                border: none;
                height: auto;
        
                margin: 8px;
                padding: 8px;
                border-radius: 8px;

                text-decoration: none;
                appearance: none;
                resize: none;
                overflow: hidden;

                background-color: inherit;
                border-bottom: 1px solid #9494AA;
                color: white;

                word-break: break-all;
            }

            textarea:focus{
            outline: none;
            }


            button{
                width: 86px;
                margin: 8px;
                color: #000000;
            }
        }
    }

    ul{
        list-style: none;
    }

    li{
        padding: 6px;
        margin-bottom: 16px;
        background-color: #494978;

        p{
            margin-top: 10px;
            font-size: 14px;
            padding: 4px;
            text-align: justify;
            line-height: 1.5;
        }
    }

    .feedNamePost{
        display: flex;
        padding: 4px;
        margin-bottom: 6px;
        align-items: center;
        padding-top: 6px;
    }

    .feedNameDate{
        display: flex;
        width: 100%;
        align-items: end;
        justify-content: space-between;
        margin-top: 6px;

        .name{
            font-size: 18px;
        }

        .date{
            font-size: 14px;
            margin-right: 14px;
        }
    }

    .imgFeedPost{
        
        margin-right: 18px;

        img{
            border-radius: 100%;
        }
    }
}

.friendList{
    border-left: 1px solid #9494AA;
    height: auto;

    .friendListcontainer{
        position: fixed;
    }

    .friends{
        background-color: #494978;
        margin: 18px 8px 0px 8px;
        height: 96vh;
        width: 600px;
        padding: 6px;
    }
}