<main>
    <div class="container">
        <section class="commom">
            <div class="imgPerfilAlt">
                <label class="picture" tabindex="0">
                    <input #ImageInput type="file" accept="image/*" (change)="OnFileSelected($event)" class="picture_input" id="picture_input">
                    <span class="picture_image">Choose an Image</span>
                </label>
            </div>
            <div>
                <h2>Description</h2>
                <h2>Search</h2>
                <h2>Settings</h2>
            </div>
        </section>
        <section class="feed">    
            <div class="form">
                <div class="imgPost">
                    <img class="imgPef" src="" alt="" width="50px" height="50px">
                </div>
                <div class="textM">
                    <form action="" (submit)="onSubmit()">
                        <textarea wrap="hard" autocomplete="off" rows="1" placeholder="Oque está acontecendo?" name="menssage" [(ngModel)]="user.menssage"></textarea>
                        <button type="submit">Post</button>
                    </form>
                </div>
            </div>
            
            <ul>
                @for(post of data; track post.id)
                {
                    <li>
                        <div class="feedNamePost">
                            <div class="imgFeedPost">
                                <img [src]="decodeString(post.token)" width="50px" height="50px" >
                            </div>
                            <div class="feedNameDate">
                                <h4 class="name">{{post.userName}}</h4> 
                                <h4 class="date">{{formatDate(post.date)}}</h4>
                            </div>
                        </div>
                        
                        <p>{{post.text}}</p>
                    </li>
                }
            </ul>
        </section>
        <section class="friendList">
            <div class="friends">
                <h2>Home</h2>
                <h2>Home</h2>
                <h2>Home</h2>
                <h2>Home</h2>
            </div>
        </section>
    </div>
</main>