*{
    margin: 0;
    padding: 0;
}

main{
    background-color: rgba( 17, 17, 17, 1.0);
    color: white;
}

.imgPerfilAlt{
    display: flex;
    justify-content: center;
    align-items: center;
}

.picture{
    width: 300px;
    height: 300px;
    border-radius: 100%;
    background: #ddd;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #aaa;
    border: 2px dashed currentColor;
    cursor: pointer;
    font-family: sans-serif;
    transition: color 300ms ease-in-out, background 300ms ease-in-out;
}

.picture:hover{
    color: #777;
    background: #ccc;
}

.picture:focus{
    box-shadow: 0 0 10px rgba( 255, 255, 255, .3);
}

.picture_input{
    display: none;   
}

.container{
    display: flex;
}

.container > section{
    flex: 1;
    padding: 20px;
}

.feed{
    border-left: 1px solid #3F3C3C;
    border-right: 1px solid #3F3C3C;
    height: 100%;
    font-family: sans-serif;

    .form{
        background-color: #202122;
        margin-bottom: 16px;
        display: grid;
        grid-template-areas: 
        "a b b b"
        "a b b b";
    
        grid-template-columns: 80px 1fr;
        //grid-template-rows: auto;

        .imgPost{
            grid-area: a;
            padding-top: 12px;

            img{
                margin: auto;
                display: block;
                border-radius: 100%;
                background-color: white;
            }
        }

        .textM{
            width: 100%;
        }

        form{
            padding: 6px;
            padding-left: 0;
            height: auto;
            width: 100%;
            grid-area: b;

            display: flex;
            flex-direction: column;
            

            textarea{
                border: none;
                height: auto;
        
                margin: 8px;
                padding: 8px;
                border-radius: 8px;

                text-decoration: none;
                appearance: none;
                resize: none;
                overflow: hidden;

                background-color: inherit;
                border-bottom: 1px solid #3F3C3C;
                color: white;

                word-break: break-all;
            }

            textarea:focus{
            outline: none;
            }


            button{
                width: 86px;
                margin: 8px;
            }
        }
    }

    ul{
        
        list-style: none;
    }

    li{
        padding: 6px;
        margin-bottom: 16px;
        background-color: #202122;

        p{
            margin-top: 10px;
            font-size: 14px;
            padding: 4px;
            text-align: justify;
            line-height: 1.5;
        }
    }

    .feedNamePost{
        display: flex;
        padding: 4px;
        margin-bottom: 6px;
        align-items: center;
        padding-top: 6px;
    }

    .feedNameDate{
        display: flex;
        width: 100%;
        align-items: end;
        justify-content: space-between;
        margin-top: 6px;

        .name{
            font-size: 18px;
        }

        .date{
            font-size: 14px;
            margin-right: 14px;
        }
    }

    .imgFeedPost{
        
        margin-right: 18px;

        img{
            border-radius: 100%;
        }
    }
}

.friendList{
    
    .friends{
        background-color: #202122;
    }
}