<section class="background"></section>
<main>
    <div class="container">
        <section class="commom">
            <div class="conteinerFixedImg">
                <div class="imgPerfilContainer">
                    <img class="imgPerfilPrimary" [src]="decodeString(imgPerfil)" alt="">
                </div>
                <div class="settings">
                    <textarea placeholder="Writer your description!" cols="50" rows="7"></textarea>
                    <div class="imgPerfilAlt">
                        <label class="picture" tabindex="0">
                            <input #ImageInput type="file" accept="image/*" (change)="OnFileSelected($event)" class="picture_input" id="picture_input">
                            <h2>Changed Image</h2>
                        </label>
                    </div>
                    <h2>Posts Lib</h2>
                    <h2>Settings</h2>
                    <h2 class="logout">Logout</h2>
                </div>
            </div>
        </section>
        <section class="feed">    
            <div class="form">
                <div class="imgPost">
                    <img class="imgPef" [src]="decodeString(imgPerfil)" alt="imagem perfil post" width="50px" height="50px">
                </div>
                <div class="textM">
                    <form action="" (submit)="createPost()">
                        <textarea wrap="hard" autocomplete="off" rows="1" placeholder="Oque está acontecendo?" name="menssage" [(ngModel)]="userPostCreate.menssage"></textarea>
                        <button type="submit">Post</button>
                    </form>
                </div>
            </div>
            
            <ul>
                @for(post of data; track post.id)
                {
                    <li>
                        <div class="feedNamePost">
                            <div class="imgFeedPost">
                                <img [src]="decodeString(post.image)" width="50px" height="50px">
                            </div>
                            <div class="feedNameDate">
                                <h4 class="name">{{post.userName}}</h4> 
                                <h4 class="date">{{formatDate(post.date)}}</h4>
                            </div>
                        </div>
                        
                        <p>{{post.text}}</p>
                    </li>
                }
            </ul>
        </section>
        <section class="friendList">
            <div class="friendListcontainer">
                <div class="friends">
                  <ul>
                    @for(user of userInfoFrind; track user.userName)
                    {
                        <li>
                            <div class="userInfoFriend">
                                <img class="userImageFriend" [src]="decodeString(user.image)" width="70px" height="70px">
                                <h3 class="userNameFriend">{{user.userName}}</h3>
                            </div>
                            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum.</p>
                        </li>
                    }
                  </ul>
                </div>
            </div>
        </section>
    </div>
</main>