.background{
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;

    background: linear-gradient(0deg, rgba(24,24,24,0.8), #403F7E);
    background-size: cover;
    filter: blur(10px);
    -webkit-filter: blur(10px);
}

.register{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.Login{
    display: flex;
    justify-content: center;
    align-items: center;

    margin: 0px;
    margin-top: 150px;
    padding: 0px 12px 0px 12px;
    border-radius: 8px;

    background: linear-gradient(225deg, rgba(24,24,24,0.8), #403F7E);
    box-shadow: 0 0 2px rgba(24,24,24,0.6);
}

.logo{
    width: 400px;
    height: 500px;
    padding: 12px;
    margin-right: 0px;

    border-right: 1px #9494AA solid;

    p{
        color: whitesmoke;
        text-align: left;
        margin-bottom: 50px;
    }
    
    h1{
        color: whitesmoke;
        text-align: left;
        font-size: 26px;
    }

    a{
        color: whitesmoke;
        font-size: 18px;
        text-decoration: none;
        padding: 8px;
        border: 2px solid whitesmoke;
        border-radius: 8px;
    }
}

.enterUser{
    height: 500px;
    padding: 12px;
    margin-left: 8px;

    h1{
        font-size: 26px;
        color: whitesmoke;
    }

    p{
        color: whitesmoke;
    }
}

form{
    margin-top: 50px;
    display: grid;
    grid-template-rows: 5;
    gap: 12px;
    justify-items: left;
}

input{
    margin-top: 30px;
    width: 500px;
    height: 40px;
    border-radius: 6px;
}

input:invalid{
    outline: 2px solid rgb(180, 44, 44);
}

button{
    margin-top: 50px;
    width: 200px;
    height: 40px;
    border-radius: 8px;
    font-size: 16px;
    font-weight: 400;
    cursor: pointer;
}

input, button{
    text-decoration: none;
    appearance: none;
    resize: none;
    overflow: hidden;
    border: none;

    background: rgba(255,255,255,0.8);
}