.background{
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;

    background: linear-gradient(0deg, rgba(24,24,24,0.8), #403F7E);
    background-size: cover;
    filter: blur(10px);
    -webkit-filter: blur(10px);
}

.register{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

form{
    margin: 16px;
    margin-top: 150px;
    height: 500px;
    padding: 12px;

    display: grid;
    grid-template-rows: 5;
    gap: 12px;
    border-radius: 8px;

    justify-content: center;
    align-items: center;
    justify-items: center;

    background: linear-gradient(225deg, rgba(24,24,24,0.8), #403F7E);
    box-shadow: 0 0 2px rgba(24,24,24,0.6);
}

label{
    font-size: 24px;
    color: whitesmoke;
    font-weight: 600;
}

input{
    width: 500px;
    height: 40px;
    border-radius: 6px;
}

input:invalid{
    outline: 2px solid rgb(180, 44, 44);
}

button{
    width: 200px;
    height: 40px;
    border-radius: 8px;
    font-size: 16px;
    font-weight: 400;
    cursor: pointer;
}

input, button{
    text-decoration: none;
    appearance: none;
    resize: none;
    overflow: hidden;
    border: none;

    background: rgba(255,255,255,0.8);
}